
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
    string s =ViewData["Name"].ToString();

}




@section styles
    {
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="~/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="~/css/plugins/cropper/cropper.min.css" rel="stylesheet">
    <link href="~/css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="~/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="~/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
    <link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="~/css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="~/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <link href="~/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="~/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
}
@section scripts
    {
    <script src="~/js/plugins/chosen/chosen.jquery.js"></script>
    <script src="~/js/plugins/jsKnob/jquery.knob.js"></script>
    <script src="~/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <script src="~/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
    <script src="~/js/plugins/nouslider/jquery.nouislider.min.js"></script>
    <script src="~/js/plugins/switchery/switchery.js"></script>
    <script src="~/js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>
    <script src="~/js/plugins/iCheck/icheck.min.js"></script>
    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
    <script src="~/js/plugins/clockpicker/clockpicker.js"></script>
    <script src="~/js/plugins/cropper/cropper.min.js"></script>
    <script src="~/js/page/form-advanced.js"></script>
        <script>
            function back ()
            {
                $("#Back").button("loading");
                window.location.href = "@Url.Action("List")";

            }
        </script>
}
<style>
    /*按钮的div*/
    .switchFrame {
        width: 22%;
        margin-top: 10px;
        margin-left: 2%;
        background-color: white;
        border: 1px solid #7F9DB9;
        border-radius: 5px;
        float: left;
    }
    /*输入框的div*/
    .inputFrame {
        width: 60%;
        margin-top: 10px;
        margin-left: 2%;
        margin-right: 5%;
        background-color: white;
        border: 1px solid #7F9DB9;
        border-radius: 5px;
        float: right;
    }
    /*小标题*/
    .title {
        background-color: #1AB394;
        height: 40px;
        padding-left: 10px;
        padding-top: 8px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    .titleFont {
        font-size: 18px;
        color: white;
    }
    /*内容边距*/
    .textFrame {
        padding: 15px;
    }
    /*开关的字体*/
    .textFont1 {
        font-size: 16px;
        font-weight: bold;
    }
    /*输入框的字体*/
    .textFont {
        font-size: 16px;
        font-weight: bold;
        padding: 11px;
    }
    /*扩充父级div*/
    .body {
        overflow: hidden;
    }
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div>
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h3>@s</h3>
            </div>
            <div class="ibox-content body">
                @*按钮部分*@
                <p>
                    <button type="button" class="btn btn-w-m btn-default"onclick="back()">返回列表</button>
                    <button type="button" class="btn btn-w-m btn-primary">提交控制</button>
                    <button type="button" class="btn btn-w-m btn-danger">取消控制</button>

                </p>
                @*开关模块*@
                <div class="switchFrame">
                    <div class="title"><p class="titleFont">开关控制</p></div>
                    <div class="textFrame">
                        @*每个开关*@
                        <div>
                            <small class="textFont1">1#泵启停控制</small>
                            <div style="float:right">
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" checked class="onoffswitch-checkbox" id="example1">
                                        <label class="onoffswitch-label" for="example1">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                        @*每个开关*@
                        <div>
                            <small class="textFont1">2#泵启停控制</small>
                            <div style="float:right">
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" checked class="onoffswitch-checkbox" id="example2">
                                        <label class="onoffswitch-label" for="example2">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                        @*每个开关*@
                        <div>
                            <small class="textFont1">3#泵启停控制</small>
                            <div style="float:right">
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" checked class="onoffswitch-checkbox" id="example3">
                                        <label class="onoffswitch-label" for="example3">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                        @*每个开关*@
                        <div>
                            <small class="textFont1">4#泵启停控制</small>
                            <div style="float:right">
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" checked class="onoffswitch-checkbox" id="example4">
                                        <label class="onoffswitch-label" for="example4">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                        @*每个开关*@
                        <div>
                            <small class="textFont1">5#泵启停控制</small>
                            <div style="float:right">
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" checked class="onoffswitch-checkbox" id="example5">
                                        <label class="onoffswitch-label" for="example5">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                        @*每个开关*@
                        <div>
                            <small class="textFont1">6#泵启停控制</small>
                            <div style="float:right">
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" checked class="onoffswitch-checkbox" id="example6">
                                        <label class="onoffswitch-label" for="example6">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                        @*每个开关*@
                        <div>
                            <small class="textFont1">1#小泵启停控制</small>
                            <div style="float:right">
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" checked class="onoffswitch-checkbox" id="example7">
                                        <label class="onoffswitch-label" for="example7">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div><br />
                        @*每个开关*@
                        <div>
                            <small class="textFont1">2#小泵启停控制</small>
                            <div style="float:right">
                                <div class="switch">
                                    <div class="onoffswitch">
                                        <input type="checkbox" checked class="onoffswitch-checkbox" id="example8">
                                        <label class="onoffswitch-label" for="example8">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*输入数据*@
                <div class="inputFrame">
                    <div class="title"><p class="titleFont">设定值输入</p></div>
                    <table cellpadding="0" cellspacing="3" border="0">
                        <tr>
                            <td class="textFont">远程设定压力（MPa）</td>
                            <td><input type="number" placeholder="500" /></td>
                            <td class="textFont">远程设定压力2</td>
                            <td><input type="number" placeholder="500" /></td>
                        </tr>
                        <tr>
                            <td class="textFont">加泵频率（Hz）</td>
                            <td><input type="number" placeholder="500" /></td>
                            <td class="textFont">减泵频率（Hz）</td>
                            <td><input type="number" placeholder="500" /></td>
                        </tr>
                        <tr>
                            <td class="textFont">加泵时间（S）</td>
                            <td><input type="number" placeholder="500" /></td>
                            <td class="textFont">减泵时间（S）</td>
                            <td><input type="number" placeholder="500" /></td>
                        </tr>
                        <tr>
                            <td class="textFont">换泵时间（Min）</td>
                            <td><input type="number" placeholder="500" /></td>
                            <td class="textFont">睡眠频率（Hz）</td>
                            <td><input type="number" placeholder="500" /></td>
                        </tr>
                        <tr>
                            <td class="textFont">睡眠延时（S）</td>
                            <td><input type="number" placeholder="500" /></td>
                            <td class="textFont">唤醒值设定（%）</td>
                            <td><input type="number" placeholder="500" /></td>
                        </tr>
                        <tr>
                            <td class="textFont">远程设定压力5</td>
                            <td><input type="number" placeholder="500" /></td>
                            <td class="textFont">远程设定压力6</td>
                            <td><input type="number" placeholder="500" /></td>
                        </tr>
                        <tr>
                            <td class="textFont">负压报警值设定（MPa）</td>
                            <td><input type="number" placeholder="500" /></td>
                            <td class="textFont">负压停止延时（S）</td>
                            <td><input type="number" placeholder="500" /></td>
                        </tr>
                        <tr>
                            <td class="textFont">超压报警值设定（MPa）</td>
                            <td><input type="number" placeholder="500" /></td>
                            <td class="textFont"> 超压停止延时（S）</td>
                            <td><input type="number" placeholder="500" /></td>

                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

