
@{
    //ViewData["Title"] = "Ceshi";
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="~/js/jquery-3.2.1.js"></script>
    <script src="~/js/contabs1.js"></script>
    <script src="~/js/jquery.js"></script>
</head>
<body>
    <h1>hello</h1>
    <a class="Ceshi1" href="/Pages/Buttons" data-index="234bff49337c47dc9a5e7e83b4da8bbe">按钮</a>
    <script src="~/js/contabs1.js"></script>
    <script src="~/js/jquery.js"></script>
</body>

</html>