@{

    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}
@section styles
    {
    <link rel="stylesheet" href="~/jqgridpackage/jqgrid/css/ui.jqgrid.css" />
        <link rel="stylesheet" href="~/jqgridpackage/jqgrid/css/css/cupertino/jquery-ui-1.8.16.custom.css" />
    @*<environment names="Development">
        <link href="~/css/plugins/jqgrid/ui.jqgrid.css" rel="stylesheet" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/grid.min.css" asp-append-version="true" />
    </environment>*@
}

@section scripts
    {
    <script type="text/javascript" src="~/jqgridpackage/js/jquery-1.7.1.js"></script>
    @*<script src="~/js/plugins/jqgrid/jquery.jqGrid.js"></script>
    <script src="~/js/plugins/jqgrid/i18n/grid.locale-cn.js"></script>*@
    <script type="text/javascript" src="~/jqgridpackage/jqgrid/js/jquery.jqGrid.src.js"></script>
        <script type="text/javascript" src="~/jqgridpackage/jqgrid/js/i18n/grid.locale-cn.js"></script>

    <script>
                $(function () {
                    //页面加载完成之后执行

                    pageInit();
                });
                function pageInit() {
                    //创建jqGrid组件
                    jQuery("#list2").jqGrid(
                        {
                            url: '@Url.Action("GetData")',//组件创建完成之后请求数据的url
                            datatype: "json",//请求数据返回的类型。可选json,xml,txt
                            colNames: ['Inv No', 'Date', 'Client', 'Amount', 'Tax', 'Total', 'Notes'],//jqGrid的列显示名字
                            colModel: [ //jqGrid每一列的配置信息。包括名字，索引，宽度,对齐方式.....
                                { name: 'id', index: 'id', width: 55 },
                                { name: 'invdate', index: 'invdate', width: 90 },
                                { name: 'name', index: 'name asc, invdate', width: 100 },
                                { name: 'amount', index: 'amount', width: 80, align: "right" },
                                { name: 'tax', index: 'tax', width: 80, align: "right" },
                                { name: 'total', index: 'total', width: 80, align: "right" },
                                { name: 'note', index: 'note', width: 150, sortable: false }
                            ],
                            rowNum: 10,//一页显示多少条
                            rowList: [10, 20, 30],//可供用户选择一页显示多少条
                            pager: '#pager2',//表格页脚的占位符(一般是div)的id
                            sortname: 'id',//初始化的时候排序的字段
                            sortorder: "desc",//排序方式,可选desc,asc
                            mtype: "post",//向后台请求数据的ajax的类型。可选post,get
                            viewrecords: true,
                            caption: "JSON Example"//表格的标题名字
                        });
                    /*创建jqGrid的操作按钮容器*/
                    /*可以控制界面上增删改查的按钮是否显示*/
                    jQuery("#list2").jqGrid('navGrid', '#pager2', { edit: false, add: false, del: false });
                }
                //$(function () {
                //    $(window).resize(function () {
                //        $("#list2").setGridWidth($(window).width());
                //    });
                //});

    </script>
}

<div>
    <div class="row wrapper wrapper-content animated fadeInRight">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5">JQGrid</h5">
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#">选项1</a>
                            </li>
                            <li>
                                <a href="#">选项2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="jqGrid_wrapper">
                        <table id="list2"></table>
                        <div id="pager2"></div>
                        <br>
                        以上为创建jqGrid的简单例子。想了解全功能api，请移步<a href="http://blog.mn886.net/jqGrid">http://blog.mn886.net/jqGrid</a>
                    </div>

                </div>


            </div>
        </div>
    </div>
</div>




