
@{
    ViewData["Title"] = "Check";
    Layout = "~/Views/Shared/_Layout_Content.cshtml";
}

<h2>Check</h2>
<iframe src="192.168.1.100:8081/doc/page/login.asp?" frameBorder="0" width="100%" height="100%" scrolling="no"></iframe>
